In [13]:
from sklearn.feature_extraction import DictVectorizer
import pandas as pd

In [ ]:
data = [
    {"gender": "M", "age": 30},
    {"gender": "F", "age": 26},
    {"gender": "M", "age": 31},
    {"gender": "M", "age": 24},
    {"gender": "F", "age": 21},
]

In [10]:
dv = DictVectorizer(sparse=False)

In [11]:
X = dv.fit_transform(data)

In [12]:
X

array([[30.,  0.,  1.],
       [26.,  1.,  0.],
       [31.,  0.,  1.],
       [24.,  0.,  1.],
       [21.,  1.,  0.]])

In [ ]:
df = pd.read_parquet(
    "/Users/lorenzocesconetto/Developer/Tutorials/zoomcamp-mlops-2025/03-orchestration/airflow/data/2023_03.parquet"
)

In [15]:
df.head()

  PULocationID DOLocationID  trip_distance   duration
0          238           42           0.00  10.000000
1          138          231          12.40  31.083333
2          140          186           3.30  14.366667
3          140           43           2.90  11.466667
4           79          137           1.23   3.033333